name: auto docs build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: build_docs
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    strategy:
      matrix:
        node-version: [20.x]

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    # install dependencies
    - name: install dependencies
      run: npm ci

    # build
    - name: build
      run: npm run deploy

    # commit
    - name: commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "docs: build"
